.card {
  background: rgba( 255, 255, 255, 0.05 );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #383838;
}

*::-webkit-scrollbar-thumb {
  background-color: #545454;
  border-radius: 10px;
}

source {
  width: "100vw";
}

